<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{obj.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <video loop controls="false" width="100%" height="100%" muted preload>
            <source [src]="obj.video" type="video/mp4">
          </video>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="obj.share">
        <ion-col size="6">
          <ion-button expand="full" color="success" class="ion-text-capitalize"
            (click)="shareFn('whatsapp','Please enter whatsapp no')">
            <ion-icon slot="icon-only" size="small" name="logo-whatsapp"></ion-icon>&nbsp;Share
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" color="danger" class="ion-text-capitalize"
            (click)="shareFn('mail','Please enter your email address')">
            <ion-icon slot="icon-only" size="small" name="mail-outline"></ion-icon>&nbsp;Share
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>