<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Visitor Log</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportToExcel()" *ngIf="visitorLog.length > 0">
        <i slot="icon-only" class="bi bi-file-earmark-excel fa-2x"></i>
      </ion-button>
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="divCenter" *ngIf="visitorLog.length === 0">
    <ion-text color="danger">
      <h1>No details found</h1>
    </ion-text>
  </div>

  <ion-card class="p-1" *ngIf="visitorLog.length > 0">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="bg-info text-light">
          <tr class="customLabel custTbl">
            <th class="text-center cusTblHeadFont ion-text-nowrap">#</th>
            <th class="text-center cusTblHeadFont ion-text-nowrap">
              Shared
            </th>
            <th class="text-center cusTblHeadFont ion-text-nowrap">
              Mobile no
            </th>
            <th class="text-center cusTblHeadFont ion-text-nowrap">
              Email
            </th>
            <th class="text-center cusTblHeadFont ion-text-nowrap">
              Shared Content
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="customLabel" *ngFor="let r of visitorLog; let i =index;">
            <td class="ion-text-nowrap cusTblFont text-center">{{i+1}}</td>
            <td class="ion-text-nowrap cusTblFont text-center">
              {{r.name }} <br>
              {{r.sharedDt | date : 'd MMM yyyy hh:mm a' }}
            </td>
            <td class="ion-text-nowrap cusTblFont text-center">
              {{r.mobileno}}
            </td>
            <td class="ion-text-nowrap cusTblFont text-center">
              {{r.email}}
            </td>
            <td class="ion-text-nowrap cusTblFont text-center">
              {{r.sharedContent}}
            </td>
          </tr>
          <tr *ngIf="visitorLog.length === 0">
            <td colspan="2" class="text-center">
              <ion-text color="danger">
                No details found
              </ion-text>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card>
</ion-content>