<ion-header>
  <div class="ion-text-center p-1">
    <img src="../../../assets/icon/headerlogonew.png">
  </div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{obj.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" size-lg="4" >
        <ion-card (click)="gotoVideo()">
          <div class="ion-text-center pt-2">
            <img src="../../../assets/icon/youtube.png">
          </div>
          <div class="ion-text-center p-1">
            <ion-text color="dark">Video</ion-text>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="3" size-lg="4" *ngFor="let p of filteredProdJSON">
        <!-- [ngClass]="obj.code === p.code ? '' : 'hide'" -->
        <div [ngClass]="obj.code === p.code ? '' : 'hide'">
          <!-- <ion-card routerLink="/drilldashboard"> -->
            <ion-card (click)="openPDFFn(p)">
            <div class="ion-text-center pt-2">
              <img class="icons" [src]="p.img">
            </div>
            <div class="ion-text-center p-1">
              <ion-text color="dark">{{p.name}}</ion-text>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>