* {
    outline: none;
    font-family: clear sans bold;
    //--background: var(--ion-color-primary);
}


ion-content {
    --background: #f6f6f6;
    // background: url("/assets/bgscreen.jpeg") no-repeat 0 0;
    // background-size: cover;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
}

ion-card {
    border-radius: 5px !important;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.175) !important;
    // width: calc(100% - 10px);
}

.myTd {
    padding: 2px;
    font-weight: 800;
}
.smallFont {
    font-size: small;
    font-weight: bold;
}

.extraSmallFont {
    font-size: 10px;
    font-weight: bold;
}

.myImg {
    height: 70px;
    width: 70px;
    padding: 10px;
    border: 1px solid var(--ion-color-primary);
}

ion-header ion-toolbar:first-of-type {
    padding-top: 0;
}

.product-modal {
    padding: 20px;
    --height: 25%;
    --border-radius: 5px;
}

.partno-modal {
    .modal-wrapper {
        position: absolute;
        padding: 15px;
        top: 10%;
        left: 2%;
        right: 2%;
        display: block;
        width: 95%;
        --height: 30%;
        --border-radius: 5px;
    }
    // padding: 15px;
    // --height: 30%;
    // top: 26px;
    // --border-radius: 5px;
}

.transparent-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) !important;
    --background: transparent !important;

    .modal-wrapper {
        background-color: rgba(0, 0, 0, 0.3) !important;
        --background: transparent !important;
    }
}
.customAlert {
    padding: 15px;
    --height: 30%;
    --border-radius: 5px;
}

.popup-modal {
    padding: 15px;
    --height: 85%;
    --border-radius: 5px;
}

.divCenter {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ngSelectFontSize {
    font-size: 12px;
}

.ng-select.custom ::ng-deep .ng-select-container {
    font-family: clear sans Light !important;
    color: #2d2d2d !important;
    font-size: 10px;
}

ion-button div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 10px !important;
    color: #efefef;
}

textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
ion-select {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
