<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>

  <div class="divCenter" *ngIf="isShow">
    <ion-spinner name="bubbles" size="large" color="primary"></ion-spinner>
  </div>

  <div class="pdf-container">
    <!-- <pdf-viewer src="../../../assets/pdf/GroundThreadTapscatalogue195-231.pdf"></pdf-viewer> -->
    <pdf-viewer [src]="url" [render-text]="true" [original-size]="false" [zoom]="pdfZoom" [fit-to-page]="false"
      (on-progress)="onProgress($event)">
    </pdf-viewer>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="block" color="light" shape="outline" class="ion-text-capitalize" size="small"
            (click)="zoomOut()">
            <ion-icon name="remove"></ion-icon>&nbsp;Zoom Out
          </ion-button>
        </ion-col>
        <!-- <ion-col class="ion-text-center">
          <ion-button expand="block" color="light" shape="outline" class="ion-text-capitalize" size="small" (click)="resetZoom()">
            <ion-icon name="refresh"></ion-icon>&nbsp;Reset
          </ion-button>
        </ion-col> -->
        <ion-col class="ion-text-center">
          <ion-button expand="block" color="light" shape="outline" class="ion-text-capitalize" size="small"
            (click)="zoomIn()">
            <ion-icon name="add"></ion-icon>&nbsp;Zoom In
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="full" class="ion-text-capitalize" color="success" size="small" (click)="zoomIn()"
            (click)="shareFn('whatsapp','Please enter whatsapp no')">
            <ion-icon name="logo-whatsapp"></ion-icon>&nbsp;Whatsapp
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="full" class="ion-text-capitalize" color="danger" size="small" (click)="zoomIn()"
            (click)="shareFn('mail','Please enter your email address')">
            <ion-icon name="mail-outline"></ion-icon>&nbsp;Mail
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>