ion-card {
    height: 16vh;
    // width: 23vh;
    // width: 92%;
    margin: 1;
    display: flex;
    align-items: center;
    img {
        height: 8vh;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40%;
        transform: translateY(-50%);
    }
    p {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 80%;
        color: #000;
        font-size: 18px;
        font-weight: 800;
        transform: translateY(-50%);
    }
}
h4 {
    font-weight: 800;
}
ion-toolbar {
    background-color: #ffffff;
}
