<ion-header>
  <ion-toolbar color="light">
    <div class="ion-text-center p-1">
      <img src="../../../assets/icon/headerlogonew.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="text-start ps-3 pt-3">
    <ion-text color="addisonblue">
      <h4 routerLink="/lsdata">
        <u>Addison & Co Ltd.</u>
      </h4>
    </ion-text>    
  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="openPDFFn(corporateBrochure, 'Corporate Brochure')">
          <div class="ion-text-center">
            <img src="../../../assets/icon/brochure.png">
            <p>Corporate Brochure</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6" >
        <ion-card (click)="gotoVideo(this.corporateAv)">
          <div class="ion-text-center">
            <img src="../../../assets/icon/youtube.png">
            <p>Corporate A/V</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col *ngFor="let p of row1">
        <ion-card (click)="gotoProductDetails(p)">
          <div class="ion-text-center">
            <img [src]="p.img">
            <p>{{p.name}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col *ngFor="let p of row2">
        <ion-card (click)="gotoProductDetails(p)">
          <div class="ion-text-center">
            <img [src]="p.img">
            <p>{{p.name}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="text-start ps-3 pt-3">
    <ion-text color="addisonblue">
      <h4>
        <u>L.M. Van Moppes India</u>
      </h4>
    </ion-text>
  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col  *ngFor="let p of row3">
        <ion-card (click)="gotoProductDetails(p)">
          <div class="ion-text-center">
            <img [src]="p.img">
            <p>{{p.name}}</p>
          </div>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>